html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------ my styles ------------ */
/* ------------ my styles ------------ */
/* ------------ my styles ------------ */
/* ------------ my styles ------------ */
/* ------------ my styles ------------ */
/* ------------ my styles ------------ */
/* ------------ my styles ------------ */



html {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color:#383650;
  background: #fff;
  display: flex;
  justify-content: center;
  /* border: thin solid black;     */
}
/* #ebb995 : #0d446b */

body {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-bottom: 2rem;
}

.top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16rem;
  width: 17rem;  
  margin-bottom: 1rem; 
}



.logo {
  /* border: thin solid black; */
  height: 12rem;
  width: 12rem;
}

.name-block {
  margin-top: -0.8rem;
  font-size: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 5rem;
}

.name {
  height: 8rem;
  line-height: 2.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.favicons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 1rem;
  width: 8rem;
}

.favicons > a {
  color: #383650;
}

.fa {
  font-size: 2rem;
  padding-bottom: 2px;
}

.fa:hover {
  border-bottom: 2px solid #383650;
}

.main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 300rem;
  padding: 0;
  margin: 0;
  border: thin solid green;
}

.links {   
  width: 15rem;
  height: 6rem;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 0.3rem double #383650;
}

.work-button {
  order: 2;
  margin-left: 1rem;
  /* transition: scroll 750ms ease-in 750ms; */
}

.links > a {
  background: #383650;
  padding: 0.5rem;
  border-radius: 8px;
  text-decoration: none; 
  color: #ecf0f1;
}

.introduction {
  margin: 1.2rem 0 3rem 0;
  padding-top: 0rem; 
  width: 17rem;
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.5;
  border: thin solid red;
}

.introduction p {
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80rem;
  margin-bottom: 3rem;
  width: 17rem;
}

.projects > h2 {
  border-top: 0.3rem double #383650; 
  /* margin-top: 1rem; */
  padding: 2rem 0 0 0;
  text-align: center;
  font-size: 2rem;
  width: 15rem;
}

.project {
  margin: 2rem 0;
  width: 16rem;
  border-left: 0.2rem solid #383650;
  padding-left: 0.8rem;
}

.project > h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project > p {
  margin-bottom: 1rem;
}

.project > a {
  background: #383650;
  padding: 0 0.5rem;
  border-radius: 8px;
  text-decoration: none; 
  color: #ecf0f1;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130rem;
  margin-bottom: 3rem;
  width: 17rem;
  border-bottom: 0.3rem double #383650;
}


.about-me > h2 {
  border-top: 0.3rem double #383650; 
  padding: 2rem 0 1rem 0;
  text-align: center;
  font-size: 2rem;
  width: 15rem;
}

.about-me > h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.work-exp {
  margin: 1.5rem 0;
  width: 16rem;
  border-left: 0.2rem solid #383650;
  padding-left: 0.8rem;
}

.work-exp > p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.work-exp p, .education p {
  font-weight: bold;
}

.education {
  margin: 2rem 0;
  width: 16rem;
  border-left: 0.2rem solid #383650;
  padding-left: 0.8rem;
}

.education > p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}



@media only screen and (min-width: 450px) {
  body, .top-header, .main {
    width: 23rem;
  }

  .introduction {
    width: 20rem;
    height: 58rem;
  } 

  .projects {
    width: 24rem;
    height: 73rem;
  }

  .projects > h2 {
    width: 19rem;
  }

  .project {
    width: 20rem;
  }

  .about-me {
    height: 117rem;
  }
}

@media screen and (min-width: 800px) {
  body, .top-header, .main {
    width: 45rem;
  }
  .top-header {
    height: 24rem;
    margin: 0;
  }

  .work-button {
    order: 0;
    margin-right: 1.6rem;
  }

  .about-button {
    margin-left: 2rem;
  }

  .name-block {
    /* border: thin solid black; */
    width: 35rem;
    height: 13rem;
    font-size: 4rem;
    
  }

  .name {
    line-height: 5.2rem;
    line-spacing: 5rem;
  }

  .links {
    /* border: thin solid black; */
    width: 30rem;
    margin-top: -2.5rem;
    height: 7rem;
    margin-bottom: 0;
  }

  .links > a:hover {
    background: #a2a998;
    color: #003166;
  }

  .favicons, .about-button, .work-button {
    /* border: thin solid black; */
  }

  .about-button {
    margin-left: 1.5rem;
  }

  .introduction {
    margin-top: 0;
    font-size: 1.5rem;
    width: 39rem;
    padding-top: 3rem; 
    text-align: justify; 
    height: 42rem;
  }

  .projects {
    width: 40rem;
     height: 65rem; 
  }

  .projects > h2 {
    width: 31rem;
  } 

   .project {
    width: 35rem;
  } 

   .about-me {
    height: 100rem;
  }  

} 

@media (min-width: 1024px) {
  .main {
    width: 50rem;
    height: 200rem;
  }

  .introduction {
     /* border: thin solid black;  */
    width: 45rem;
  }

  .projects {
    width: 50rem;
  }

    .project {
    width: 42rem;
  }  

    .about-me {
    height: 95rem;
  }   
} 
