html {
  font-size: 18px;
  font-family: sans-serif;
  background: lightgrey;
}

body {

}

.title {
  display: flex;
  height: 10%;

  align-items: center;
  /*border: thin solid black;*/
}

.logo {
  width: 15%;
  min-width: 10%;
  /*border: thin solid black;*/
}

.name-block {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  height: 10%;
  padding-left: 30px;
  /*font-size: 1rem;*/
  margin-left: -20px;
  line-height: 1.5rem;
  /*border: thin solid black;*/
}

.name-block > strong {
  font-size: 2.5rem;
  margin-left: -20px;
}

strong, span {
  padding: 0 10px;
}

.links {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 90%;
  align-items: flex-start;
  /*border: thin solid black;*/
  padding-left: 10px;
  line-height: 2rem;
}

.favicons {
  display: inline-block;
  padding-left: 10px;
  /*border: thin solid black;*/
  width: 100%;
}

.favicons > a:hover {
  color: blue;
  font-size: 1.5rem;
}

.favicons > a {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
  /*border: thin solid black;*/

}

.links > a:hover {
  font-size: 1.5rem;
  background: black;
  color: lightgrey;
}

.main {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: thin solid black;*/
  width: 70%;
  padding-top: 5%;
  font-size: 1.2rem;

}

.main-content > p{
  /*background: rgba(0, 0, 0, 0.5);*/
}

@media (max-width: 700px) {
  .title {
    flex-direction: column;
  }
  .logo {
    width: 30%;
  }
  .name-block {
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .links {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
  }
  .links > a {
    width: 30%;
    text-align: center;

  }
  .favicons {
    width: 30%;
  }
  .main-content {
    width: 90%;

  }
}

@media (max-width: 445px) {
  .name-block > strong {
    font-size: 2rem;
  }
  .logo {
    width: 40%;
  }
}

@media (max-width: 360px) {
  .name-block > strong {
    font-size: 1.5rem;
  }
  .links {
    flex-direction: column;
    align-items: center;
  }
  .links > a {
    width: 50%;
    /*border: thin solid black;*/
    text-align: center;

  }
  .favicons {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
}
